@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #738694;
  font-family: 'General Sans', sans-serif;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .perspective-1200 {
    perspective: 1200px;
  }

  .translate-z-10 {
    --tw-translate-z: 40px;
  }

  .translate-z-20 {
    --tw-translate-z: 80px;
  }

  .head-text {
    @apply sm:text-4xl text-3xl font-semibold text-gray_gradient;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-base hover:text-white transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  /* button component */
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300  transition-all active:scale-95 text-white mx-auto;
  }

  .btn-ping_green {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_green_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  .btn-ping_red {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75;
  }

  .btn-ping_red_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-red-500;
  }

  /* hero section */
  .hero_tag {
    @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-generalsans font-black !leading-normal;
  }

  /* about section */
  .grid-container {
    @apply w-full h-full border border-black-300 bg-black-200 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white font-generalsans;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base font-generalsans;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }

  .card {
    @apply absolute left-1/2 2xl:-ml-[24rem] xl:-ml-[20rem] md:-ml-[18rem] sm:-ml-[12rem] -ml-[10rem] 2xl:w-[780px] xl:w-[600px] md:w-[500px] sm:w-[380px] w-[300px]
      md:h-[680px] h-[600px] bg-zinc-950
      list-none p-0 m-0 text-white border-[5px] border-white rounded-[70px] bg-cover
      shadow-[1px_1px_5px_#000,-1px_-1px_5px_#000]
      transition-[transform,left,opacity,box-shadow] duration-1000 ease-in-out;

    transform:
      translate(var(--tw-translate-x), var(--tw-translate-y))
      translateZ(var(--tw-translate-z, 0))
      scale(var(--tw-scale-x), var(--tw-scale-y));
  }

  .card_tag {
    @apply md:text-5xl sm:text-4xl text-2xl font-title font-black !leading-normal
      transition-transform duration-1000 ease-in-out;
  }

  .card-inactive {
    @apply scale-50 opacity-50 translate-z-10;
  }

  .card-active {
    @apply pointer-events-none translate-z-20;
  }

  .card-left {
    @apply md:left-1/4 sm:left-32 left-[6.5rem] translate-z-10;
  }

  .card-right {
    @apply md:left-3/4 sm:left-[calc(100%-8rem)] left-[calc(100%-6.5rem)] translate-z-10;
  }

  .card-left .card_tag  { @apply 2xl:translate-x-20 xl:translate-x-14 sm:translate-x-4 translate-x-8 translate-y-8; }
  .card-active .card_tag{ @apply 2xl:translate-x-60 xl:translate-x-44 sm:translate-x-24 translate-x-[4.5rem] translate-y-4; }
  .card-right .card_tag { @apply 2xl:translate-x-96 xl:translate-x-64 sm:translate-x-48 translate-x-32 translate-y-8; }

  .card-inactive:hover {
    @apply transition-colors opacity-100 duration-300 ease-in-out shadow-[rgba(255,255,255,0.6)_0px_4px_15px,_rgba(0,0,0,0.3)_0px_4px_10px];
  }

  .avatar-frame {
    @apply md:w-80 md:h-80 w-60 rounded-full p-1 bg-gradient-to-tr from-white/10 via-white/40 to-white/10 transition-transform duration-1000 ease-in-out
  }
  .card-inactive .avatar-frame {@apply scale-75}

  /* projects section  */
  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  /* partners section */
  .partner-container {
    @apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
  }

  .partner-review {
    @apply rounded-lg md:p-10 p-5 col-span-1 bg-black-300 bg-opacity-50;
  }

  .partner-content {
    @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
  }

  /*  work experience section */
  .work-container {
    @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
  }

  .work-canvas {
    @apply col-span-1 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content {
    @apply col-span-3 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
  }

  .work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-white;
  }

  .work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
  }

  /* contact section */
  .contact-container {
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
  }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
  }

  .field-btn {
    @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
  pointer-events: auto;
}

.fade-in-delay-2 {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
  pointer-events: auto;
  animation-delay: 2s;
}

.fade-in-delay-3 {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
  pointer-events: auto;
  animation-delay: 3s;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.1s ease-in forwards;
  pointer-events: auto;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}